/*********************** CSS RESET ***********************/
* { /* ALL ELEMENTS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    /*********************** GENERIC ELEMENTS ***********************/
    body{
        background-color: #fafafa;

        font-family: Montserrat, Arial, sans-serif;
        line-height: 1.6;
        min-height: 200vh;

    }

    /*********************** INTRO ***********************/
    .intro{
        background-image: url(images/leaves.jpg);

        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh; /* viewport/window height*/
        width: 100vw; /* viewport/window height*/

        display: flex;
    }

    .intro-container{
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;

box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        width: 25%;
        padding: 20px;

        text-align: center;
        margin: auto;
    }

    .intro h1{
        text-transform: uppercase;
        font-weight: normal;

        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .intro p {
        line-height: 2;
    }


    /*********************** CARD ***********************/

    .card{
        display: block;

        color: #000;
        text-decoration: none;

    }

    .card-image{
        height: 500px;

        overflow: hidden; /* crops the extra content*/

    }

    .card img{
        display: block;

        width: 100%;
        height: 100%;
        object-fit: cover;
transition-property: transform;
transition-duration: 1s;
    }

    .card h2{
        margin-top: 20px;
        margin-bottom: 50px;

        font-size: 1.2em; /* 120% of the font size */

    }

    .card:hover img{
        transform: scale(1.2);
        transition-duration: 10s;
        transition-timing-function: linear; 
    }